.footer-section {
    padding: 2em 0;
    background-color: #2A9D6D;
    width: 100vw;
}

.footer-logo {
    width: 280px;
}

.footer-flex {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section h3 {
    font-size: 12px;
    line-height: 1.1;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 0px
}

.social-icons {
    margin-bottom: 20px;
    flex-direction: row;
    gap: 15px;
    display: flex;
    align-items: center;
}

.social-icon {
    width: 30px;
    border-radius: 8px;
}

.email-icon {
    width: 34px;
}

.footerinfo {
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.ocf {
    width: 120px;
    margin: 20px 80px;
}

@media (max-width: 900px) {

    .footer-flex {
        flex-direction: column;
    }
    .footer-text {
        max-width: 80%;
    }

}