:root {
    --main: #2A9D6D;
}

.header-section {
    padding: 1em 0;
    width: 100vw;
    margin-left: calc((100vw - 100%) / -2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px var(--main);
}

.nav-buttons {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3em;
    margin-right: 5em;
    font-size: 1em;
}

.logo {
    margin-left: 2em;
    height: 60px;
}

/* Link styles */
.underline {
    width: 100%;
    height: 3px;
    background: transparent;
    border-radius: 100px;
    transition: all 0.25s ease;
}

.nav-button {
    margin-top: 8px;
}

.nav-text {
    margin: 0 12px;
}

.nav-button:hover .nav-text{
    color: black;
}

.nav-button:hover .underline{
    background: var(--main);
}

/* donate button */
#donate-button {
    padding: 0.5em 1.5em;
    background: var(--main);
    border-radius: 100px;
    color: white;
    border: 3px solid transparent;
    transition: all 0.25s ease;
}

#donate-button:hover {
    background: transparent;
    border: 3px solid var(--main);
    color: var(--main);
}


/* lowkey better??? */
#donate-button2 {
    padding: 0.5em 1.5em;
    background: transparent;
    border-radius: 100px;
    color: var(--main);
    border: 3px solid var(--main);
    transition: all 0.25s ease;
}

#donate-button2:hover {
    background: var(--main);
    border: 3px solid transparent;
    color: white;
}