:root {
    --main: #2A9D6D;
}

.header-section {
    position: sticky;
    top: 0;
    z-index: 5;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.94);
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 6px rgba(167, 167, 167, 0.05);
    padding: 0 30px;
}

.nav-buttons {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3em;
    font-size: 1em;
}

.logo {
    height: 60px;
}

/* Link styles */
.underline {
    width: 100%;
    height: 3px;
    background: transparent;
    border-radius: 100px;
    transition: all 0.25s ease;
}

/* page selection */
.active .underline {
    background: var(--main);
}

.nav-button {
    margin-top: 8px;
}

.nav-text {
    margin: 0 12px;
}

.nav-button:hover .nav-text{
    color: #242424;
}

/* donate button */
#donate-button {
    padding: 0.5em 1.5em;
    background: var(--main);
    border-radius: 100px;
    color: white;
    border: 3px solid transparent;
    transition: all 0.25s ease;
}

#donate-button:hover {
    background: transparent;
    border: 3px solid var(--main);
    color: var(--main);
}


/* lowkey better donate button??? */
#donate-button2 {
    padding: 0.5em 1.5em;
    background: white;
    border-radius: 100px;
    color: var(--main);
    border: 3px solid var(--main);
    transition: all 0.25s ease;
}

#donate-button2:hover {
    background: var(--main);
    border: 3px solid transparent;
    color: white;
}

/* Toggle Menu Button */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--main);
    font-size: 32px;
    cursor: pointer;
    text-align: center;
  }
  
  /* Responsive Design */
  @media (max-width: 720px) {
    .nav-buttons {
        display: none;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.94);
        position: fixed;
        top: 60px;
        right: 0;
        padding-top: 60px;
        border-radius: 5px;

    }
  
    .nav-buttons.open {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
    
  }