.donate {
    background-image: url('../assets/photos/donate-background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.donate-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.explanatory-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

#header {
    font-size: 2.5rem;
    margin-bottom: 8px;
    color: white;
}

.explanatory-text p {
    color: white;
    text-align: center;
}

.button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 16px;
}

.button-div p {
    color: white;
}
