.floating-icon {
    position: absolute;
    margin: -40px 0 0 -60px;
    z-index: 1;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0); /* Starting position */
    }
    50% {
        transform: translateY(-10px); /* Move up */
    }
    100% {
        transform: translateY(0); /* Return to starting position */
    }
}

.logo-photo {
    width: 100px;
}

#EY {
    width: 80px;
}

#PWC {
    width: 80px;
}

.at-a-glance-section {
    padding-top: 56px;
    padding-bottom: 90px;
    margin: 0 calc((100vw - 1000px)/2);
    border-radius: 40px;
    box-shadow: 0 0 16px rgba(167, 167, 167, 0.15);
}

.at-a-glance-title {
    text-align: center;
}

.circle-container {
    display: flex;
    gap: 80px;
    justify-content: center;
    text-align: center;
}
.circle-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
svg {
    transform: rotate(-90deg);
}

.circle {
    stroke-dasharray: 565.48; /* Circumference of the circle */
    stroke-dashoffset: 565.48;
    stroke: #2a9d6d;
    stroke-linecap: round;
    stroke-width: 8px;
    fill: none;
    transition: stroke-dashoffset 2s ease-in-out var(--animation-delay, 0s);
}

.animate-circle .circle {
    stroke-dashoffset: 0;
}

.circle-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate-circle .circle {
    stroke-dashoffset: 0;
}

.number {
    position: absolute;
    font-size: 36px;
    font-weight: 500;
    color: #2a9d6d;
    line-height: 1;
}
.label {
    margin-top: 15px;
    font-size: 20px;
    color: #6d6d6d;
}

.about-text {
    margin-bottom: 30px;
}

.image-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 160px;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0; /* Fully revealed */
    }
}

@media (max-width: 900px) {

    .circle-container {
        gap: 60px;
    }

    .floating-icon {
        display: none;
    }

}

@media (max-width: 1000px) {
    .at-a-glance-section {
        margin: 0;
    }
}

@media (max-width: 720px) {
    .at-a-glance-section {
        margin: 0 40px;
    }

    .circle-container {
        flex-direction: column;
    }

    .image-row {
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
    }

 
}